[Unit]
Description=Automatically mount connected block devices with udisksctl

[Service]
Type=simple
ExecStart=%h/scripts/automount-udisks.sh

[Install]
WantedBy=default.target
