[Unit]
After=network-online.target

[Service]
Type=simple
ExecStart=autossh -M 0 ssh-j.com -NR %H:22:localhost:22
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
