[Unit]
Description=Improve keyboard comfort and usability with advanced customization

[Service]
Type=simple
ExecStart=kanata -c "%h/.config/kanata/config.kbd"

[Install]
WantedBy=default.target
